body {
    background-image: url(static/CCNA.png);

    background-size: cover;
    background-repeat: no-repeat;
}

.navContainer {
    overflow: hidden;
    position: fixed;
    left: 0;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 95%;
    background-color: #E65100;

}

.navRight {
    margin-top: 15px;
    float: right;
    margin-bottom: 15px;
}

.navRight a {
    color: white;
    text-align: centr;
    padding: 14px 16px;
    font: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.navLeft {

    float: left;
    margin-top: 15px;
    margin-left: 5%;
    margin-bottom: 15px;
}

.navLeft a {

    color: white;
    text-decoration: none;
    padding: 14px 16px;
    font: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.navLeft a.active {
    background-color: white;
    color: #E65100;
}

.navLeft a:hover {
    background-color: white;
    color: #E65100;

}

/**
Start Home
*/
.home {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    height: 80%;
    font-family: 'Roboto', sans-serif;
    background-color: #F57C00;
}

.iconHome {
    top: 25%;
    position: absolute;
    left: 10%;
    color: azure;
    font-size: 200px;
}

.wordHome {
    top: 45%;
    font-size: 34px;
    color: aliceblue;
    position: absolute;
    right: 10%;

}

.smallText {
    position: absolute;
    top: 100%;
    right: 40%;

    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

.smallText h2 {
    font-size: 28px;

    font-style: italic;
}

/**
End Home
*/
/**
Begin Projects
*/

.projects {
    /**background-image: url(static/un.png); */
    background-position: center;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 100%;
    width: 99%;
    height: 100%;
}

.h1Class {
    margin-top: 10%;
    font-size: 400%;
}

.imgCol {
    margin-top: 5px;
    margin-left: 10px;
    width: 15%;
}

.imgCol1 {
    margin-top: 5px;
    margin-left: 10px;
    width: 12%;
}

.imgCol2 {
    margin-top: 5px;
    margin-left: 10px;
    width: 18%;
}

.columns {
    float: left;
    width: 20%;
    margin-left: 5%;

    margin-right: 5%;
    border-radius: 10px;
    padding: 8px;
    position: sticky;
    right: 0;
    margin-top: 5%;
}

.row {
    background-color: aqua;
}


.price {
    height: 300px;
    list-style-type: none;

    margin: 0;
    border: 2px solid #000005;
    padding: 0;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    border: 2px solid #E65100;
    border-radius: 10px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2)
}

.header {
    font-size: 20px;
    color: azure;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E65100;
}

.AppMenu {
    margin-top: 10%;

}

.AppMenu li {
    margin-top: 10px;
    font-size: 100%;
}

.AppMenu li:hover {
    font-size: 105%;

}

.btnDiv {
    border-radius: 4px;
    background-color: azure;
    border: 2px solid #f4511e;
    color: #f4511e;
    text-align: center;
    font-size: 15px;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
    width: 20%;
    height: 12%;
}

.btnDiv:hover {
    width: 21%;
    height: 13%;
    margin-right: 24px;
    margin-top: 11px;
    border: 2px solid #fff;
    background-color: #f4511e;
    color: #fff;

}


/**
End Projects
*/
/**
Begin Contact
*/
.contact {
    position: absolute;
    top: 200%;
    height: 100%;
    width: 99%;
    font-family: 'Roboto', sans-serif;
    /**background-image: url(static/un2.png);*/
    background-position: center;
}

.boxModel {
   position: relative;
    left: 10%;
    border: 2px solid #000;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    margin-bottom: 20px;
}
.boxModel h3{
    float: left;
    margin-left: 25px;
}
.app{
    float: left;
    border: 1px solid #000;
     border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin-left: 50px;
}
.fa-android{
    font-size: 20px;
    color: green;
    float: right;
}
.subTitle{
    font-size: 14px;
}
/**
End Contact
*/
